BODY{ 
    background-image: url('https://www.t-nation.com/system/publishing/articles/10004964/original/How-to-Build-Mid-Back-Muscle.jpeg?1497907123');
    background-size: 120px 60px;
    background-repeat: no-repeat;
    background-position: 550px 90px;
}
h1{
    color: dimgray;
    font-family: sans-serif;
    padding-left: 700px;
    font-size: 250%;
}
