BODY{ 
    background-image: url('https://cdn-maf0.heartyhosting.com/sites/muscleandfitness.com/files/muscular-legs.jpg');
    background-size: 150px 70px;
    background-repeat: no-repeat;
    background-position: 550px 90px;
}
h1{
    color: dimgray;
    font-family: sans-serif;
    padding-left: 700px;
    font-size: 250%;
}
