BODY{ 
    background-image: url('https://cdn-maf0.heartyhosting.com/sites/muscleandfitness.com/files/styles/full_node_image_1090x614/public/perfect%20peaks_1.jpg?itok=2jelRIYI&timestamp=1401390703');
    background-size: 160px 75px;
    background-repeat: no-repeat;
    background-position: 550px 90px;
}
h1{
    color: dimgray;
    font-family: sans-serif;
    padding-left: 700px;
    font-size: 250%;
}
